<%- include('../partials/head.ejs') %>
<%- include('../partials/navcliente.ejs') %>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <% produtos.forEach(prod=>{%>
      <div class="col p-5 p-sm-3">
        <div style="height: 250px; overflow: hidden;">
          <img src="<%= prod.imagem %>" alt="" style="width: 100%;">
        </div>
        <h2 class="py-2"> <%= prod.titulo%></h2>
        <h2 class="">R$ <%= prod.preco%></h2>
        <button class="btn btn-primary" id="<%=prod.id %>" onclick="add(id)">add</button>
      </div>
    <%})%>
  </div>
  <div>
    <h3>Carrinho:</h3>
    
    <button class="btn btn-primary">enviar</button>
  </div>
  

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrinho</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul id="lista"></ul>
    </div>
  </div>


</div>

<script>
  let pedido = [];
  
  function add(id){
    pedido.push(id);
    console.log(pedido)
    let ul = document.getElementById('lista')
    let li = document.createElement('li')
    li.innerHTML = `${id}`
    ul.appendChild(li)
  }
</script>
<%- include('../partials/foot.ejs') %>